<h2>Status</h2>

<table>
  <tr>
    <td>current time</td>
    <td class="dot">::</td>
    <td>{{ time }}</td>
  </tr>
  <tr>
    <td>User Agent</td>
    <td class="dot">::</td>
    <td>{{ UA }}</td>
  </tr>
  <tr>
    <td>Languages</td>
    <td class="dot">::</td>
    <td>{{ Lan }}</td>
  </tr>
  <tr>
    <td>Is Cookie Enagled?</td>
    <td class="dot">::</td>
    <td>{{ cookies }}</td>
  </tr>
  <tr>
    <td>LogicalProcessors</td>
    <td class="dot">::</td>
    <td>{{ process }}</td>
  </tr>
  <tr>
    <td>MaxTouch Points</td>
    <td class="dot">::</td>
    <td>{{ max }}</td>
  </tr>
</table>
